
    <section class="container">
        <div class="mb-3">
            <label for="" class="form-label">Họ và tên:</label>
            <input type="password" class="form-control" name="" id="" placeholder="">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="" class="form-label me-4">Họ và tên:</label>
            <input class="form-check-input ms-4" type="radio" name="gender" id="gender" checked>
            <label class="form-check-label" for="gender">
                Nam
            </label>
            <input class="form-check-input ms-4" type="radio" name="gender" id="gender">
            <label class="form-check-label" for="gender">
                Nữ
            </label>
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>